mixin description1
    #description.description.parallaxdescription1
        #background-inner
            .align-self-center
                p.description Being a single dragon is tough.
                p.description Dragon Mingle is here to help.
                p.description Fill out your profile and get your first match today!
                .top20
                p.description Dragon Mingle: For Dragons, by Dragons
