mixin main
    #home.home
        #background
            #background-inner
                .align-self-center
                    p.logo Dragon
                    p.logo &nbsp;Mingle
                    .top-30
                    p.catchphrase #{catchphrase}
